@charset "utf-8";.ui-datepicker{width:18em;padding:.2em .2em 0;display:none;font-family:Arial, Helvetica, sans-serif;font-size:14px;background:#ececec;border-radius:2px;border:1px solid #BBBBBB;z-index:99999!important;}
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all.ui-helper-hidden-accessible{height:auto;clip:auto;}
.ui-datepicker td span, .ui-datepicker td a{padding:0px !important;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{background:#fff !important;padding:3px !important;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{border:1px solid #2D67B2 !important;}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{background:#2E4DA4 !important;}
.ui-datepicker-trigger{position:absolute;right:0px;cursor:pointer;padding-left:84px;}
.ui-datepicker .ui-datepicker-header{position:relative;padding:.2em 0;font-size:14px;font-weight:bold;color:#fff;background:#F60000;}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next{position:absolute;top:2px;width:1.8em;height:1.8em;}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover{top:1px;}
.ui-datepicker .ui-datepicker-prev{left:2px;}
.ui-datepicker .ui-datepicker-next{right:2px;}
.ui-datepicker .ui-datepicker-prev-hover{left:1px;}
.ui-datepicker .ui-datepicker-next-hover{right:1px;}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span{display:block;position:absolute;left:50%;margin-left:-8px;top:50%;margin-top:-8px;width:13px;height:20px;text-indent:-9999px;cursor:pointer;}
.ui-datepicker .ui-datepicker-prev span{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.ui-datepicker .ui-datepicker-next span{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.ui-datepicker .ui-datepicker-title{margin:0 2.3em;line-height:26px;text-align:center;}
.ui-datepicker .ui-datepicker-title select{font-size:1em;margin:1px 0;}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year{width:49%;font-family:inherit;font-size:inherit;padding:2px;margin:3px 0 0 0;border:1px solid #DDDDDD;color:#333333;}
.ui-datepicker table{color:#444444;width:100%;font-size:12px;border-collapse:collapse;margin:0 0 .4em;}
.ui-datepicker th{padding:.7em .3em;text-align:center;font-weight:bold;border:0;}
.ui-datepicker td{border:0;padding:1px;}
.ui-datepicker td a{display:block;padding:0;text-align:left;text-decoration:none;color:#333;background:#fafafa;border:1px solid #ddd;}
.ui-datepicker td a span{padding:0;margin:0;display:block;}
.ui-datepicker td a span.ui-datepicker-day{font-weight:bold;color:#0059A7;text-align:left;padding:2px 0 0 2px;}
.ui-datepicker td a span.ui-datepicker-lunar{text-align:right;color:#444;font-size:10px;padding:0 1px 1px 0;}
.ui-datepicker td a:hover{background:#2D67B2 !important;color:#ffffff;}
.ui-datepicker td a:hover span.ui-datepicker-day{color:#ffffff;}
.ui-datepicker td a:hover span.ui-datepicker-lunar{color:#ffffff;}
.ui-datepicker .ui-state-highlight{background-color:#2E4DA4;color:#ffffff;}
.ui-datepicker .ui-state-highlight span.ui-datepicker-day{color:#ffffff;}
.ui-datepicker .ui-state-highlight span.ui-datepicker-lunar{color:#ffffff;}
.ui-datepicker .ui-state-active{background-color:#F60000;}
.ui-datepicker .ui-state-active span.ui-datepicker-lunar{color:#ffffff;}
.ui-datepicker td.ui-state-disabled{}
.ui-datepicker td.ui-state-disabled span{background-color:#DDDDDD;color:#888888;}
.ui-datepicker td.ui-state-disabled a span.ui-datepicker-day{font-weight:bold;color:#666;}
.ui-datepicker td.ui-state-disabled a span.ui-datepicker-lunar{color:#777;}
.ui-datepicker .ui-datepicker-buttonpane{background-image:none;margin:.7em 0 0 0;padding:0 .2em;border-left:0;border-right:0;border-bottom:0;}
.ui-datepicker .ui-datepicker-buttonpane button{float:right;margin:.5em .2em .4em;cursor:pointer;padding:.2em .6em .3em .6em;width:auto;overflow:visible;}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current{float:left;}
.ui-datepicker.ui-datepicker-multi{width:auto;}
.ui-datepicker-multi .ui-datepicker-group{float:left;}
.ui-datepicker-multi .ui-datepicker-group table{width:95%;margin:0 auto .4em;}
.ui-datepicker-multi-2 .ui-datepicker-group{width:50%;}
.ui-datepicker-multi-3 .ui-datepicker-group{width:33.3%;}
.ui-datepicker-multi-4 .ui-datepicker-group{width:25%;}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header{border-left-width:0;}
.ui-datepicker-multi .ui-datepicker-buttonpane{clear:left;}
.ui-datepicker-row-break{clear:both;width:100%;font-size:0;}
.ui-datepicker-rtl{direction:rtl;}
.ui-datepicker-rtl .ui-datepicker-prev{right:2px;left:auto;}
.ui-datepicker-rtl .ui-datepicker-next{left:2px;right:auto;}
.ui-datepicker-rtl .ui-datepicker-prev:hover{right:1px;left:auto;}
.ui-datepicker-rtl .ui-datepicker-next:hover{left:1px;right:auto;}
.ui-datepicker-rtl .ui-datepicker-buttonpane{clear:right;}
.ui-datepicker-rtl .ui-datepicker-buttonpane button{float:left;}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group{float:right;}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header{border-right-width:0;border-left-width:1px;}
.ui-timepicker-table td a.ui-state-active{background:#F60000;color:#ffffff;}
.ui-timepicker-table td a.ui-state-hover{background:#F60000;color:#ffffff;}
.ui-timepicker-table .ui-timepicker-title{color:#009ce2;}
.ui-datepicker{background:#ffffff;padding:0px;}
.ui-widget-header{border:none;}
.ui-datepicker .ui-state-highlight span.ui-datepicker-day{color:#2E4DA4;}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{background:#FFFFFF !important;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{border-radius:50%;}
.ui-widget-header .ui-state-active{border:1px solid #FFF;}
.ui-datepicker td a span.ui-datepicker-day{text-align:center;}
.ui-datepicker td span, .ui-datepicker td a{padding:5px !important;}
.ui-datepicker td a span.ui-datepicker-lunar{display:none;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{border:0px solid #ffffff;}
.ui-datepicker td.ui-state-disabled span{background-color:#FFFFFF;}
.ui-datepicker td.ui-datepicker-unselectable.ui-state-disabled a:hover{background:#ffffff !important;}
.ui-datepicker td a span.ui-datepicker-day{color:#000000;}
.ui-datepicker .ui-state-highlight span.ui-datepicker-day{color:#000000;}
.ui-datepicker .ui-datepicker-header{position:relative;padding:.2em 0;font-size:16px;font-weight:bold;color:#333;background:#ffffff;}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{border:none;background:transparent;}
table.ui-datepicker-calendar thead{border-bottom:1px solid #dbdbdb;}