@font-face{font-family:'go_font_v20';src:url(../fonts/go_font_v20.eot?lo167t);src:url(../fonts/go_font_v20.eot?lo167t#iefix) format("embedded-opentype"),url(../fonts/go_font_v20.ttf?lo167t) format("truetype"),url(../fonts/go_font_v20.woff?lo167t) format("woff"),url(../fonts/go_font_v20.svg?lo167t#go_font_v20) format("svg");font-weight:400;font-style:normal}
[class^="icon-"],[class*=" icon-"]{font-family:'go_font_v20'!important;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.icon-24hr-checkin:before{content:"\e900"}
.icon-ac:before{content:"\e901"}
.icon-adult:before{content:"\e902"}
.icon-aid:before{content:"\e903"}
.icon-air-cooler:before{content:"\e904"}
.icon-airport-transfer:before{content:"\e905"}
.icon-airport:before{content:"\e906"}
.icon-airport2:before{content:"\e907"}
.icon-ambulance:before{content:"\e908"}
.icon-android:before{content:"\e909"}
.icon-apple:before{content:"\e90a"}
.icon-ar-carrot-down:before{content:"\e90b"}
.icon-ar-carrot-left:before{content:"\e90c"}
.icon-ar-carrot-right:before{content:"\e90d"}
.icon-ar-carrot-up:before{content:"\e90e"}
.icon-ar-circle-left:before{content:"\e90f"}
.icon-ar-circle-right:before{content:"\e910"}
.icon-area:before{content:"\e911"}
.icon-arrow-down:before{content:"\e912"}
.icon-arrow-left:before{content:"\e913"}
.icon-arrow-right:before{content:"\e914"}
.icon-arrow-up:before{content:"\e915"}
.icon-arrow2-down:before{content:"\e916"}
.icon-arrow2-up:before{content:"\e917"}
.icon-balcony:before{content:"\e918"}
.icon-bank:before{content:"\e919"}
.icon-bar:before{content:"\e91a"}
.icon-bassinet:before{content:"\e91b"}
.icon-bath-tub:before{content:"\e91c"}
.icon-bed-size:before{content:"\e91d"}
.icon-bell:before{content:"\e91e"}
.icon-bin:before{content:"\e91f"}
.icon-boarding:before{content:"\e920"}
.icon-bookings:before{content:"\e921"}
.icon-bookmark:before{content:"\e922"}
.icon-breakfast:before{content:"\e923"}
.icon-breakfast2:before{content:"\e924"}
.icon-bubbles:before{content:"\e925"}
.icon-bus-merc:before{content:"\e926"}
.icon-bus-seat:before{content:"\e927"}
.icon-bus-side:before{content:"\e928"}
.icon-bus-volvo:before{content:"\e929"}
.icon-bus:before{content:"\e92a"}
.icon-business-man:before{content:"\e92b"}
.icon-businessmen:before{content:"\e92c"}
.icon-cabs:before{content:"\e92d"}
.icon-calendar:before{content:"\e92e"}
.icon-calendar1:before{content:"\e92f"}
.icon-call:before{content:"\e930"}
.icon-camera:before{content:"\e931"}
.icon-cancel-circle:before{content:"\e932"}
.icon-car-rent:before{content:"\e933"}
.icon-cards:before{content:"\e934"}
.icon-check-in:before{content:"\e935"}
.icon-checkmark:before{content:"\e936"}
.icon-church:before{content:"\e937"}
.icon-city:before{content:"\e938"}
.icon-cleanliness:before{content:"\e939"}
.icon-clock:before{content:"\e93a"}
.icon-close:before{content:"\e93b"}
.icon-close1:before{content:"\e93c"}
.icon-club-bar:before{content:"\e93d"}
.icon-coffee:before{content:"\e93e"}
.icon-connection:before{content:"\e93f"}
.icon-cool-ac:before{content:"\e940"}
.icon-couple:before{content:"\e941"}
.icon-credit:before{content:"\e942"}
.icon-customer-care:before{content:"\e943"}
.icon-customer-service:before{content:"\e944"}
.icon-dashboard:before{content:"\e945"}
.icon-doctor:before{content:"\e946"}
.icon-dollar:before{content:"\e947"}
.icon-download:before{content:"\e948"}
.icon-drag-and-drop:before{content:"\e949"}
.icon-dropping:before{content:"\e94a"}
.icon-dutyfree:before,.icon-Duty-free-sales:before{content:"\e94b"}
.icon-earth:before{content:"\e94c"}
.icon-edit:before{content:"\e94d"}
.icon-email:before{content:"\e94e"}
.icon-equalizer:before{content:"\e94f"}
.icon-error:before{content:"\e950"}
.icon-euro:before{content:"\e951"}
.icon-exchange:before{content:"\e952"}
.icon-expand:before{content:"\e953"}
.icon-express-care:before{content:"\e954"}
.icon-facebook:before{content:"\e955"}
.icon-family:before{content:"\e956"}
.icon-fastpay:before{content:"\e957"}
.icon-file:before{content:"\e958"}
.icon-filter:before{content:"\e959"}
.icon-flag:before{content:"\e95a"}
.icon-flag1:before{content:"\e95b"}
.icon-flat-bed:before,.icon-Lie-flat-Seat-First:before,.icon-Lie-flat-Seat:before{content:"\e95c"}
.icon-flatscreen:before{content:"\e95d"}
.icon-flight_going:before{content:"\e95e"}
.icon-flight_line1:before{content:"\e95f"}
.icon-flight_line2:before{content:"\e960"}
.icon-flight_return:before{content:"\e961"}
.icon-flight-can:before{content:"\e962"}
.icon-flight-change:before{content:"\e963"}
.icon-flight-hotel:before{content:"\e964"}
.icon-flight-seat:before{content:"\e965"}
.icon-flight1:before{content:"\e966"}
.icon-flights:before{content:"\e967"}
.icon-food:before{content:"\e968"}
.icon-footmark:before{content:"\e969"}
.icon-front-desk:before{content:"\e96a"}
.icon-getaways:before{content:"\e96b"}
.icon-gift-card:before{content:"\e96c"}
.icon-globe:before{content:"\e96d"}
.icon-go:before{content:"\e96e"}
.icon-goCash:before{content:"\e96f"}
.icon-google-plus:before{content:"\e970"}
.icon-gostays-verified:before{content:"\e971"}
.icon-gostays:before{content:"\e972"}
.icon-group:before{content:"\e973"}
.icon-gym:before{content:"\e974"}
.icon-gym2:before{content:"\e975"}
.icon-headphones:before,.icon-Audio-programming:before{content:"\e976"}
.icon-heart-outline:before{content:"\e977"}
.icon-heart:before{content:"\e978"}
.icon-highlight:before{content:"\e979"}
.icon-history:before{content:"\e97a"}
.icon-holidays:before{content:"\e97b"}
.icon-hospital:before{content:"\e97c"}
.icon-hot-cold-water:before{content:"\e97d"}
.icon-hot-fire:before{content:"\e97e"}
.icon-hotel-bell:before{content:"\e97f"}
.icon-hotels:before{content:"\e980"}
.icon-infant:before{content:"\e981"}
.icon-info:before{content:"\e982"}
.icon-insurance:before{content:"\e983"}
.icon-invoice:before{content:"\e984"}
.icon-key-chain:before{content:"\e985"}
.icon-kitchen:before{content:"\e986"}
.icon-landmark:before{content:"\e987"}
.icon-laundry:before{content:"\e988"}
.icon-lift:before{content:"\e989"}
.icon-light:before{content:"\e98a"}
.icon-linen:before{content:"\e98b"}
.icon-link:before{content:"\e98c"}
.icon-list:before{content:"\e98d"}
.icon-location:before{content:"\e98e"}
.icon-lock:before{content:"\e98f"}
.icon-locker:before{content:"\e990"}
.icon-loop:before{content:"\e991"}
.icon-m-menu:before{content:"\e992"}
.icon-mail:before{content:"\e993"}
.icon-meals:before{content:"\e994"}
.icon-medical:before{content:"\e995"}
.icon-meeting:before{content:"\e996"}
.icon-menu:before{content:"\e997"}
.icon-menu1:before{content:"\e998"}
.icon-menu2:before{content:"\e999"}
.icon-microwave:before{content:"\e99a"}
.icon-minus:before{content:"\e99b"}
.icon-mobiles:before{content:"\e99c"}
.icon-money-bag:before{content:"\e99d"}
.icon-moon:before{content:"\e99e"}
.icon-movie:before,.icon-Movie:before{content:"\e99f"}
.icon-no-parking:before{content:"\e9a0"}
.icon-no-review:before{content:"\e9a1"}
.icon-non-refundable:before{content:"\e9a2"}
.icon-non-smoking:before,.icon-Non-smoking:before{content:"\e9a3"}
.icon-notification:before{content:"\e9a4"}
.icon-offer-badge:before{content:"\e9a5"}
.icon-packages:before{content:"\e9a6"}
.icon-parcel:before{content:"\e9a7"}
.icon-parking:before{content:"\e9a8"}
.icon-passbook:before{content:"\e9a9"}
.icon-passport:before{content:"\e9aa"}
.icon-pay-at-hotel:before{content:"\e9ab"}
.icon-phone-active:before,.icon-Telephone:before{content:"\e9ac"}
.icon-phone-end:before{content:"\e9ad"}
.icon-phone:before{content:"\e9ae"}
.icon-photo-review:before{content:"\e9af"}
.icon-plug:before,.icon-In-seat-power-source:before{content:"\e9b0"}
.icon-plus-big:before{content:"\e9b1"}
.icon-plus:before{content:"\e9b2"}
.icon-pointer:before{content:"\e9b3"}
.icon-pound:before{content:"\e9b4"}
.icon-power-backup:before{content:"\e9b5"}
.icon-print:before{content:"\e9b6"}
.icon-public:before{content:"\e9b7"}
.icon-qna:before{content:"\e9b8"}
.icon-question:before{content:"\e9b9"}
.icon-question2:before{content:"\e9ba"}
.icon-refund:before{content:"\e9bb"}
.icon-registration:before{content:"\e9bc"}
.icon-repeat:before{content:"\e9bd"}
.icon-reschedule:before{content:"\e9be"}
.icon-restaurant:before{content:"\e9bf"}
.icon-restaurant2:before{content:"\e9c0"}
.icon-reverse-amenities:before{content:"\e9c1"}
.icon-reverse-buses:before{content:"\e9c2"}
.icon-reverse-cabs:before{content:"\e9c3"}
.icon-reverse-cleanliness:before{content:"\e9c4"}
.icon-reverse-facebook:before{content:"\e9c5"}
.icon-reverse-flights:before{content:"\e9c6"}
.icon-reverse-food:before{content:"\e9c7"}
.icon-reverse-go:before{content:"\e9c8"}
.icon-reverse-holidays:before{content:"\e9c9"}
.icon-reverse-hot-fire:before{content:"\e9ca"}
.icon-reverse-hotels:before{content:"\e9cb"}
.icon-reverse-like-left:before{content:"\e9cc"}
.icon-reverse-like-right:before{content:"\e9cd"}
.icon-reverse-location:before{content:"\e9ce"}
.icon-reverse-money-bag:before{content:"\e9cf"}
.icon-reverse-service:before{content:"\e9d0"}
.icon-reverse-star:before{content:"\e9d1"}
.icon-reverse-tick:before{content:"\e9d2"}
.icon-reverse-twitter:before{content:"\e9d3"}
.icon-review2:before{content:"\e9d4"}
.icon-room-bay-view:before{content:"\e9d5"}
.icon-room-garden-view:before{content:"\e9d6"}
.icon-room-hills-view:before{content:"\e9d7"}
.icon-room-jungle-view:before{content:"\e9d8"}
.icon-room-lake-view:before{content:"\e9d9"}
.icon-room-palace-view:before{content:"\e9da"}
.icon-room-pool-view:before{content:"\e9db"}
.icon-room-river-view:before{content:"\e9dc"}
.icon-room-sea-view:before{content:"\e9dd"}
.icon-room-service:before{content:"\e9de"}
.icon-room-size:before{content:"\e9df"}
.icon-room-valley-view:before{content:"\e9e0"}
.icon-route-planner:before{content:"\e9e1"}
.icon-rupee:before{content:"\e9e2"}
.icon-sad:before{content:"\e9e3"}
.icon-satelliteTV:before{content:"\e9e4"}
.icon-search:before{content:"\e9e5"}
.icon-seat-flat:before{content:"\e9e6"}
.icon-seat-flight:before{content:"\e9e7"}
.icon-seat-select:before{content:"\e9e8"}
.icon-seat-X:before{content:"\e9e9"}
.icon-seat:before{content:"\e9ea"}
.icon-service2:before{content:"\e9eb"}
.icon-services:before,.icon-service:before,.icon-Additional-Services:before{content:"\e9ec"}
.icon-settings:before{content:"\e9ed"}
.icon-settings2:before{content:"\e9ee"}
.icon-shopping:before{content:"\e9ef"}
.icon-shuffle:before{content:"\e9f0"}
.icon-sign:before{content:"\e9f1"}
.icon-siteseeing:before{content:"\e9f2"}
.icon-smiley:before{content:"\e9f3"}
.icon-smoking:before,.icon-Smoking:before{content:"\e9f4"}
.icon-solo:before{content:"\e9f5"}
.icon-spa:before{content:"\e9f6"}
.icon-splitAC:before{content:"\e9f7"}
.icon-star:before{content:"\e9f8"}
.icon-star2:before{content:"\e9f9"}
.icon-star3:before{content:"\e9fa"}
.icon-suitcase-ok:before{content:"\e9fb"}
.icon-suitcase-trip:before{content:"\e9fc"}
.icon-suitcase:before{content:"\e9fd"}
.icon-sun:before{content:"\e9fe"}
.icon-sunrise:before{content:"\e9ff"}
.icon-sunset:before{content:"\ea00"}
.icon-support:before{content:"\ea01"}
.icon-swap:before{content:"\ea02"}
.icon-swap2:before{content:"\ea03"}
.icon-swimming:before{content:"\ea04"}
.icon-swimming2:before{content:"\ea05"}
.icon-tag:before{content:"\ea06"}
.icon-tail:before{content:"\ea07"}
.icon-taxi:before{content:"\ea08"}
.icon-telephone:before{content:"\ea09"}
.icon-temple:before{content:"\ea0a"}
.icon-thumb-down:before{content:"\ea0b"}
.icon-thumb-up:before{content:"\ea0c"}
.icon-thumbs-up:before{content:"\ea0d"}
.icon-tick-mark:before{content:"\ea0e"}
.icon-ticket:before{content:"\ea0f"}
.icon-time:before{content:"\ea10"}
.icon-top-pick:before{content:"\ea11"}
.icon-track:before{content:"\ea12"}
.icon-train-front-view:before{content:"\ea13"}
.icon-travel-guide:before{content:"\ea14"}
.icon-travellers:before{content:"\ea15"}
.icon-tv:before{content:"\ea16"}
.icon-twitter:before{content:"\ea17"}
.icon-user:before{content:"\ea18"}
.icon-user2:before{content:"\ea19"}
.icon-user3:before{content:"\ea1a"}
.icon-users:before{content:"\ea1b"}
.icon-video-player:before{content:"\ea1c"}
.icon-visa:before{content:"\ea1d"}
.icon-waiting:before{content:"\ea1e"}
.icon-warning:before{content:"\ea1f"}
.icon-washroom:before{content:"\ea20"}
.icon-wechat:before{content:"\ea21"}
.icon-wheelchair:before{content:"\ea22"}
.icon-wifi-flight:before,.icon-Wi-Fi:before{content:"\ea23"}
.icon-wifi-free:before{content:"\ea24"}
.icon-wifi:before{content:"\ea25"}
.icon-wifi2:before{content:"\ea26"}
.icon-wifi3:before{content:"\ea27"}
.icon-windows:before{content:"\ea28"}
.icon-wine:before{content:"\ea29"}
.icon-women:before{content:"\ea2a"}
.icon-write-a-review:before{content:"\ea2b"}
.icon-write-to-us:before{content:"\ea2c"}
.icon-youtube:before{content:"\ea2d"}
.icon-yt1:before{content:"\ea2e"}
.icon-yt2:before{content:"\ea2f"}
.icon-flight-hotel-hdr{font-size:63px;line-height:.5}
.cust-srvc-hdr{font-size:42px;line-height:.5}
.icon-gostays-cstm{font-size:56px}